APP_NAME="Vendor Performance Sync"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_SCOPES=read_products
SHOPIFY_APP_URL=http://localhost:8000
SHOPIFY_API_VERSION=2024-10

LOW_STOCK_THRESHOLD=5
